.dashboard-root {
    #chord-diagram-anchor {
        margin: 40px auto;
        width: 50%;
        display: block;
    }

    #sankey-diagram-anchor {
        margin: 40px auto;
        width: 75%;
        display: block;
    }
}
