.dashboard-root {
    .chord-diagram {
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }

    .sankey-wrapper {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        .sankey-diagram {
            width: 100%;
        }
    }
}
