.dashboard-root {
    #chord-diagram-anchor {
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }

    .sankey-wrapper {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        #sankey-diagram-anchor {
            width: 100%;
        }
    }
}
